# Виртуальное окружение
venv/
.venv/

# Системные файлы
.DS_Store

# Данные пользователей
*.xlsx
*.db

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo

# Секреты
keys.py
.env
.env.*

# Прочее
*.js